
        <div class="main-container">    <!-- START: Main Container -->
            
            <div class="page-header">
                <h1>Leaves Request List </h1>
                <ol class="breadcrumb">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="index.php">List</a></li>
                    <li class="active">Leave Request</li>
                </ol>
            </div>
            
            <div class="content-wrap">  <!--START: Content Wrap-->
                
                
                <div class="container-fluid">
                    <div class="row">
                      
                        <main role="main" class="col-md-12">
                            <div class="panel">
                                
                            <div class="projects mb-4">
                                <div class="projects-inner">
                                    <header class="projects-header">
                                        <div class="title">Leaves request List</div>
                                        <div class="count">| {{count}} leaves</div>
                                        <i class="zmdi zmdi-download"></i>

                                        <a href="#" data-toggle="modal" data-target="#myModal">     
                                            <button style="float:right; background-color: #363b5b;border: 0px;" type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                                Signers
                                            </button></a> 
                                    </header>
                                                <div class="modal fade" id="myModal">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            
                                                            <div class="model-body"> 
                                                                  
                                                                <article class="leaderboard">
                                                                    <header>
                                                                  
                                                                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" class="leaderboard__icon">
                                                                        
                                                                      </svg>
                                                                  
                                                                      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Signataires</span><span class="leaderboard__title--bottom">List</span></h1>
                                                                    </header>
                                                                    
                                                                    <main class="leaderboard__profiles">
                                                                      <article class="leaderboard__profile" *ngFor="let item of list2">
                                                                         <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Unknown_Member.jpg" class="leaderboard__picture">
                                                                        <span class="leaderboard__name">{{item.signataire_ID}}</span>
                                                                        
                                                                      </article>
                                                                      
                                                                    </main>
                                                                  </article>
                                                                 
                                                            </div>
                                                            <div class="model-footer">
                                                                <input class="btn btn-default" data-dismiss="modal" value="Close">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                
                                


                                    <table class="projects-table">
                                        <thead>
                                            <tr>
                                                <th>Conge</th>
                                                <th>Debut</th>
                                                <th>End</th>
                                                <th>Owner</th>
                                                <th>Budget</th>
                                                <th>Status</th>
                                                <th>Signers</th>
                                                <th>PDF</th>
                                            </tr>
                                        </thead>
                                        <tr *ngFor="let cong of conges ; let i = index;">
                                            <td>
                                                <p>{{cong.demande.NOM}}</p>
                                                <p>{{cong.demande.nbrjour}} Days</p>
                                            </td>
                                            <td>
                                                <p>{{cong.demande.debut}}</p>
                                                <p class="text-danger">{{cong.demande.debutX}}M</p>
                                            </td>
                                            <td>
                                                <p>{{cong.demande.fin}}</p>
                                                <p class="text-danger">{{cong.demande.finx}}M</p>
                                            </td>
                                            <td class="member">
                                                <figure><img src="{{userimagepath}}{{user.image}}" /></figure>
                                                <div class="member-info">
                                                    <p>{{ cong.demande.PERS_NOM}} {{ cong.demande.PERS_PRENOM}}</p>
                                                    <p>{{ cong.demande.NATAG_LIB_X50}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p>$0,0</p>
                                                <p>Paid</p>
                                            </td>

                                            <td class="status" *ngIf="cong.ngsign.object.status=='CREATED'">
                                                <span class="status-text status-blue">{{ cong.ngsign.object.status}}</span>
                                            </td>

                                            <td class="status" *ngIf="cong.ngsign.object.status=='CONFIGURED'">
                                                <span class="status-text status-orange">{{ cong.ngsign.object.status}}</span>
                                            </td>

                                            <td class="status" *ngIf="cong.ngsign.object.status=='REFUSED'">
                                                <span class="status-text status-red">{{ cong.ngsign.object.status}}</span>
                                            </td>

                                            <td class="status" *ngIf="cong.ngsign.object.status=='SIGNED'">
                                                <span class="status-text status-green">{{ cong.ngsign.object.status}}</span>
                                            </td>

                                            <td>
                                                 <div class="timelines">
  
                                                    <div class="timeline education">
                                                        
                                                            <p *ngIf="cong.ngsign.object.status=='CREATED'"><span style="background-color: #1c93ed;" class="label label-warning">NO SIGNERS</span></p>
                                                        
                                                      <div class="timeline-items" *ngFor="let liste of list[i] ">

                                                         

                                                        <div class="timeline-item1" *ngIf="liste.status=='CONFIGURED'">
                                                            <p>{{liste.signer.email}} <span class="label label-warning">{{liste.status}}</span></p>
                                                        </div>

                                                        <div class="timeline-item3" *ngIf="liste.status=='REFUSED'"> 
                                                            <p>{{liste.signer.email}} <span class="label label-danger" >{{liste.status}}</span></p>
                                                        </div>

                                                        <div class="timeline-item2" *ngIf="liste.status=='SIGNED'">
                                                            <p>{{liste.signer.email}} <span class="label label-success">{{liste.status}}</span></p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                   
                                                    
                                                </div> 
                                            </td>

                                            <td>
                                                 <!-- <div class="modal fade" id="myModal">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            
                                                            <div class="model-body"> 
                                                                  
                                                                 <a href='{{src}}{{cong.pdf}}' type="image/gif">here</a>
                                                                 
                                                            </div>
                                                            <div class="model-footer">
                                                                <input class="btn btn-default" data-dismiss="modal" value="Close">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <a href="#" data-toggle="modal" data-target="#myModal">     
                                                    <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                                        Open PDF
                                                    </button></a> -->
                                                    <a href="http://127.0.0.1:8000/api/ngsign/{{ cong.ngsign.object.uuid}}/pdf/{{ cong.ngsign.object.pdfs[0].identifier}}" style="color: white;">
                                                        <button type="button" id="myFrame" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onload="getmydemandesngsign(uuid)">
                                                            Open PDF
                                                        </button>
                                                    </a>
                                                    
                                                    
                                            </td>
                                            
                                            
                                        </tr>
                                    
                                    </table>
                                </div>
                            </div>
                        </div>
                        </main>
                    </div>
                </div>
                    
                
            </div>  <!--END: Content Wrap-->
            
        </div>  <!-- END: Main Container -->
        