
 
 a:hover {
    text-decoration: none;
}
p, figure {
    margin: 0;
    padding: 0;
}


.projects {
    /* border: 1px solid #313d4f70; */
    overflow-x: auto;
    width: 100%;
}
.projects-inner {
    border-radius: 4px;
}
.projects-header {
    color: #454a64;
    padding: 22px;
}
.projects-header .count, .projects-header .title {
    display: inline-block;
}
.projects-header .count {
    color: #454a64;
}
.projects-header .zmdi {
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 5px 0;
}
.projects-header .title {
    font-size: 21px;
}
.projects-header .title + .count {
    margin-left: 5px;
}
.projects-table {
    width: 100%;
}
.projects-table td, .projects-table th {
    color: #454a64;
    padding: 10px 22px;
    vertical-align: middle;
}
.projects-table td p {
    font-size: 15px;
}
.projects-table td p:last-of-type {
    color: #738297;
    font-size: 11px;
}
.projects-table th {
    background-color: #363b5b;
    color: rgba(255, 255, 255, 0.836);
}
.projects-table tr:hover {
    background-color: #363b5b4d;
}
.projects-table tr:not(:last-of-type) {
    border-bottom: 1px solid #313d4f1e;
}
.projects-table .member figure, .projects-table .member .member-info {
    display: inline-block;
    vertical-align: top;
}
.projects-table .member figure + .member-info {
    margin-left: 7px;
}
.projects-table .member img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.projects-table .status > form {
    float: right;
}
.projects-table .status-text {
    display: inline-block;
    font-size: 12px;
    margin: 11px 0;
    padding-left: 20px;
    position: relative;
}
.projects-table .status-text:before {
    border: 3px solid;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 14px;
}
.projects-table .status-text.status-blue:before {
    border-color: #1c93ed;
}
.projects-table .status-text.status-green:before {
    border-color: #66b92e;
}
.projects-table .status-text.status-orange:before {
    border-color: #da932c;
}
.projects-table .status-text.status-red:before {
    border-color: #d65b4a;
}
.selectric {
    background-color: transparent;
    border-color: #313d4f;
    border-radius: 4px;
}
.selectric .label {
    color: #738297;
    line-height: 34px;
    margin-right: 10px;
    text-align: left;
}
.selectric-wrapper {
    float: right;
    width: 150px;
}
body {
   background: linear-gradient(35deg, red, purple);
}
/* <select> styles */
select {
  /* Reset */
   appearance: none;
   border: 0;
   outline: 0;
   font: inherit;
  /* Personalize */
   width: 100%;
   height: 3em;
   padding: 0 4em 0 1em;
   color: #7a788f;
   border-radius: 0.25em;
   box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
   cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}
select option {
   color: inherit;
   background-color: #f1f4f7;
}
select:focus {
   outline: none;
}
select::-ms-expand {
   display: none;
}

.timeline {
    margin-bottom: 0px;
}

.timeline-item p {
    font-size: 1em;
    
    position: relative;
}
.timeline:before {
    width: 0px;
   
}
.timeline-item1 p::before {
    content: "";
    position: absolute;
    left: -2.35em;
    margin-top: 4px;
    background-color: #da932c;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
}
.timeline-item2 p::before {
    content: "";
    position: absolute;
    left: -2.35em;
    margin-top: 4px;
    background-color: #66b92e;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
}
.timeline-item3 p::before {
    content: "";
    position: absolute;
    left: -2.35em;
    margin-top: 4px;
    background-color: #fe4747;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
}
.img-profile{
    width:170px;
    margin-top: 20px;
      }
      
      .leaderboard {
        width: 100%;
        border-radius: 12px;
     }
      .leaderboard header {
        --start: 15%;
        height: 130px;
        background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
        color: #fff;
        position: relative;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
     }
      .leaderboard header .leaderboard__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calc(var(--start) * .75);
        transform: translateY(-50%);
        text-transform: uppercase;
        margin: 0;
     }
      .leaderboard header .leaderboard__title span {
        display: block;
     }
      .leaderboard header .leaderboard__title--top {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 6.5px;
     }
      .leaderboard header .leaderboard__title--bottom {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3.55px;
        opacity: 0.65;
        transform: translateY(-2px);
     }
      .leaderboard header .leaderboard__icon {
        fill: #fff;
        opacity: 0.35;
        width: 50px;
        position: absolute;
        top: 50%;
        left: var(--start);
        transform: translate(-50%, -50%);
     }
      .leaderboard__profiles {
        background-color: #fff;
        border-radius: 0 0 12px 12px;
        padding: 15px 15px 20px;
        display: grid;
        row-gap: 8px;
     }
      .leaderboard__profile {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        padding: 10px 30px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        cursor: pointer;
        transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
        background-color: #fff;
     }
      .leaderboard__profile:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
     }
      .leaderboard__picture {
        max-width: 100%;
        width: 60px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
     }
      .leaderboard__name {
        color: #979cb0;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.64px;
        margin-left: 12px;
     }
      .leaderboard__value {
        color: #35d8ac;
        font-weight: 700;
        font-size: 34px;
        text-align: right;
     }
      .leaderboard__value > span {
        opacity: 0.8;
        font-weight: 600;
        font-size: 13px;
        margin-left: 3px;
     }
      
      .leaderboard {
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
     }
      
    
    .bubbly-button {
      font-family: 'Helvetica', 'Arial', sans-serif;
      display: inline-block;
      font-size: 1em;
      padding: 1em 2em;
      margin-top: 10px;
      -webkit-appearance: none;
      appearance: none;
      background-color: #5b7cfa;
      color: #fff;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      position: relative;
      box-shadow: 0 2px 25px #5b7bfa93;
   }
    
    

       
      