
        <div class="main-container">    <!-- START: Main Container -->
            
            <div class="page-header">
                <h1>Add Congé</h1>
                <ol class="breadcrumb">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="index.php">Forms</a></li>
                    <li class="active">Validation</li>
                </ol>
            </div>
            
            <div class="content-wrap">  <!--START: Content Wrap-->
                
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Validation Engine</h3>
                            </div>
                            <div class="panel-body">

                                <form action="#" role="form" id="formvalidationtooltip">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control validate[required]" name="firstname" id="firstname" placeholder="First Name" data-prompt-position="topLeft">
                                        </div>

                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control validate[required]" name="firstname" id="firstname" placeholder="First Name" data-prompt-position="topLeft">
                                        </div>

                                        <div class="form-group">
                                            <label>E Mail ID</label>
                                            <input type="text" class="form-control validate[required,custom[email]]" name="email" id="email" placeholder="E-Mail" data-prompt-position="topLeft">
                                        </div>

                                        <div class="form-group">
                                            <label>Only Letters And Digits</label>
                                            <input type="text" class="form-control validate[required,custom[onlyLetterNumber]]" name="spacel" id="spacel" placeholder="Only Numbers And Digits" data-prompt-position="topLeft">
                                        </div>

                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type = "password" name = "txtPassword" id = "txtPassword" class = "form-control validate[required,minSize[6],maxSize[50]]" data-prompt-position="topLeft">
                                        </div>

                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type = "password" name = "txtCPassword" id = "txtCPassword" class = "form-control validate[required,equals[txtPassword]]" data-prompt-position="topLeft">
                                        </div>

                                        <div class="form-group">
                                            <label>Only Letters And Digits</label>
                                            <select name="sport" id="sport" class="form-control validate[required]" data-prompt-position="topLeft">
                                                <option value="">Choose a sport</option>
                                                <option value="option1">Tennis</option>
                                                <option value="option2">Football</option>
                                                <option value="option3">Golf</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>  <!-- END: Panel Body -->
                        </div>  <!-- END: Panel -->
                    </div>

                  
                    
                </div>
                    
                
            </div>  <!--END: Content Wrap-->
            
        </div>  <!-- END: Main Container -->
        