<div class="main-container">    <!-- START: Main Container -->
            
    <!-- <div class="page-header">
        <h1>Data Tables <small>Bootstrap Data Table</small></h1>
        <ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li><a href="">Tables</a></li>
            <li class="active">Data Table</li>
        </ol>
    </div>
     -->
    <div class="content-wrap">  <!--START: Content Wrap-->
        <div class="col-md-2">
                <div class="panel-body">
                    <img class="img-profile" src="{{userimagepath}}{{persabs[0].image}}">
                    <!-- <h4 class="user-name">{{ persabs[0].PERS_NOM  }} {{persabs[0].PERS_PRENOM }}</h4> -->
                </div>
        </div>
            
            <div class="col-md-10">
                        
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>About :</h4>
                        
                        <form class="form-horizontal basic-info">
                            
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{ persabs[0].PERS_NOM  }} </p>
                                </div>
                            </div>
                            
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{persabs[0].PERS_PRENOM }}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-sm-3 control-label">Nature Agent</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{persabs[0].NATAG_LIB_X50}}</p>
                                </div>
                            </div>
                            
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{persabs[0].email}}</p>
                                </div>
                            </div>
                            
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-sm-3 control-label">Telephone</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{persabs[0].PERS_TEL_98 }}</p>
                                </div>
                            </div>
                            
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-sm-3 control-label">Date of birth</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{persabs[0].PERS_DATE_NAIS }}</p>
                                </div>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Ajouter un signataire</h3>
                                    <!-- <div class="col-sm-10">
                                      <div class="form-group">
                                        <select  data-live-search="true"  #task>
                                            <option data-tokens="0">rayen@gmail.com</option>
                                            <option data-tokens="1">test@gmail.com</option>
                                            <option data-tokens="2">test2@gmail.com</option>
                                            <option data-tokens="3">test3@gmail.com</option> 
                                          </select>
                                        
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button style="margin-top: 4px;" (click)="addTask(task.value)"><i class="fa fa-location-arrow"></i></button>
                                    </div> -->
                                    <!-- <br>
                                    <br>
                                    <br> -->

                                    <!-- <mat-form-field>
                                        <mat-select  placeholder="Bank" >
                                          <mat-option>
                                            <ngx-mat-select-search ></ngx-mat-select-search>
                                          </mat-option>
                                          <mat-option >
                                           test
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field> -->
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-live-search="true"  #task>
                                        <option data-tokens="0">rayen@gmail.com</option>
                                        <option data-tokens="1">test@gmail.com</option>
                                        <option data-tokens="2">test2@gmail.com</option>
                                        <option data-tokens="3">test3@gmail.com</option>
                                      </select>
                                      <button (click)="addTask(task.value)"><i class="fa fa-location-arrow"></i></button>
                                </div>
                                <article class="leaderboard">
                                    <header>
                                  
                                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" class="leaderboard__icon">
                                        
                                      </svg>
                                  
                                      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Signataires</span><span class="leaderboard__title--bottom">List</span></h1>
                                    </header>
                                    
                                    <main class="leaderboard__profiles">
                                      <article class="leaderboard__profile" *ngFor="let item of list">
                                         <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Unknown_Member.jpg" class="leaderboard__picture">
                                        <span class="leaderboard__name">{{item.signataire_ID}}</span>
                                        <span class="leaderboard__value"><span><button style="margin-right: 10px;" (click)="removeTask(item.order)"><i class="fa fa-close"></i></button></span></span> 
                                      </article>
                                      
                                    </main>
                                  </article>
            
                                  <button class="bubbly-button" (click)="chekTask()">Done</button>
            
                                <!-- <ul *ngFor="let item of list">
                                    <button style="margin-right: 10px;" (click)="removeTask(item.order)"><i class="fa fa-close"></i></button>{{item.signataire_ID}} 
                                </ul> -->
                               
                                <!-- <button style="margin-top: 4px;" (click)="chekTask()">Done</button>  -->

                              
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul class="list-flow-info">
                                    <li class="col-xs-4 text-primary">
                                        <h3>Followers</h3>
                                        <h4>2753</h4>
                                    </li>
                                    <li class="col-xs-4 text-info">
                                        <h3>Posts</h3>
                                        <h4>381</h4>
                                    </li>
                                    <li class="col-xs-4 text-success">
                                        <h3>Following</h3>
                                        <h4>1946</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
        <div class="row">
           
            
            
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <div class="tools">
                            <a class="btn-link collapses panel-collapse" href="javascript:;"></a>
                            <a class="btn-link reload" href="javascript:;"><i class="ti-reload"></i></a>	                                
                        </div>
                    </div>
                    
                    <div class="panel-body">
                    
                        <table class="table table-bordered table-dataTable"
                        data-toggle="table"
data-search="true"
data-search-align="left"
data-show-columns="true"
data-show-toggle="true"
data-show-fullscreen="true" 
data-pagination-pre-text="previous"
data-pagination-next-text="next"
data-pagination-h-align="right"
data-page-list="[10,20,30,0,50,All]"
        >

        <thead>
        <tr>
        <th colspan="9" data-align="center">Personnels List</th>
        </tr>
    
        <tr>
            <th data-field="ABS_NUMORD_93" data-sortable="true" data-switchable="false">PERS_NOM</th>
            <th data-field="ABS_NAT_9" data-sortable="true">LIBELLE_ABS</th>
            <th data-field="ABS_CAT_9" data-sortable="true">ABS_CAT_9</th>
            <th data-field="ABS_DATE_DEB" data-sortable="true">ABS_DATE_DEB</th>
            <th data-field="ABS_PERDEB_X" data-sortable="true">ABS_PERDEB_X</th>
            <th data-field="ABS_DATE_FIN" data-sortable="true">ABS_DATE_FIN</th>
            <th data-field="ABS_PERFIN_X" data-sortable="true">ABS_PERFIN_X</th>
            <th data-field="ABS_NBRJOUR_93" data-sortable="true">ABS_NBRJOUR_93</th>
            <th data-field="ABS_CUMULE_9" data-sortable="true">ABS_CUMULE_9</th>
        
        </tr>
        </thead>
        <tbody *ngFor="let pers of persabs ; let i = index;">
        <tr>
                <td >{{ pers.PERS_NOM  }} {{pers.PERS_PRENOM }}</td>
                <td >{{ pers.LIBELLE_ABS   }}</td>
                <td >{{ pers.ABS_CAT_9 }}</td>
                <td >{{ pers.ABS_DATE_DEB }}</td>
                <td >{{ pers.ABS_PERDEB_X }}M</td>
                <td >{{ pers.ABS_DATE_FIN }}</td>
                <td >{{ pers.ABS_PERFIN_X }}M</td> 
                <td >{{ pers.ABS_NBRJOUR_93 }}</td> 
                <td >{{ pers.ABS_CUMULE_9 }}</td> 
       
        
        </tr>
        
                
       
       
    
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
            
        
    </div>  <!--END: Content Wrap-->
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


