<div class="main-container">    <!-- START: Main Container -->
            
    <div class="page-header">
        <h1>Form Wizard</h1>
        <ol class="breadcrumb">
            <li><a href="index.php">Home</a></li>
            <li><a href="index.php">forms</a></li>
            <li class="active">Wizard</li>
        </ol>
    </div>
    
    <div class="content-wrap">  <!--START: Content Wrap-->
        
        <div class="row">
            
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        
                        <div class="bs-wizard" id="rootwizard">
                            
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="container">
                                        <ul class="step-indicator triangle gsi-style-1 gsi-transition">
                                            <li><a href="#tab1" data-toggle="tab">Account setup</a></li>
                                            <li><a href="#tab2" data-toggle="tab">Profile setup</a></li>
                                            <li><a href="#tab3" data-toggle="tab">Billing setup</a></li>
                                            <li><a href="#tab4" data-toggle="tab">Agreement</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="form" (submit)="submit()">
                            
                            <div class="tab-content">
                                
                                <div class="tab-pane" id="tab1">
                                    <h3>Provide your account details</h3>
                                     
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    
                                    <div class="blue-line sm normal"></div>
                    
                            <div class="signup-box">
                        
                       
                            
                            <div class="form-group">
                                <input formControlName="name" type="text" name="User Name" class="form-control" placeholder="User Name">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>

                            <div class="form-group">
                                <input formControlName="email" type="email" name="email" class="form-control" placeholder="Email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            
                            <div class="form-group">
                                <input formControlName="password" type="password" name="password" class="form-control" placeholder="Password">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            
                         
                            
                            

                         
                        
                      
                         </div>
                  
                    
                            <div class="blue-line lg normal"></div>
                         </div>
          
                                </div>
                                
                                <div class="tab-pane" id="tab2">
                                    <h3>Provide your Profile details</h3>
                                    
                                        
                                        <div class="form-group col-sm-12">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                        
                                      <div class="col-md-12">
                              <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dropzone.js Upload</h3>
                                <div class="tools">
                                    <a class="btn-link reload" href="javascript:;"><i class="ti-reload"></i></a>                                
                                </div>
                            </div>
                            <div class="panel-body">
                                <!-- <form action="/"
                                      class="dropzone"
                                      id="my-awesome-dropzone">

                                </form> -->
                            </div>
                           </div>
                         </div>   
                                        
                                   
                                </div>
                                
                                <div class="tab-pane" id="tab3">
                                    <h3>Provide your billing and credit card details</h3>
                                  
                                        
                                    
                                        <label>Matricule_Act</label>
                                        <input type="number" formControlName="PERS_MAT_ACT" id="PERS_MAT_ACT" class="form-control" required>
                                        <label>First Name</label>
                                        <input type="text" formControlName="PERS_NOM" name="PERS_NOM" id="PERS_NOM" class="form-control" required>
                                        <label>Last Name</label>
                                        <input type="text" formControlName="PERS_PRENOM" name="PERS_PRENOM" id="PERS_PRENOM" class="form-control" required>
                                
                                        
                                        <div class="form-group"> 
                                        <label>Date of Birth</label>
                                        <input type="date" formControlName="PERS_DATE_NAIS" name="PERS_DATE_NAIS" id="PERS_DATE_NAIS" class="form-control" required>
                                        </div>
                                
                                        <div class="form-group">
                                            <label >Sex</label>
                                                    <select formControlName="PERS_SEX_X" name="PERS_SEX_X" class="form-control custom-Select">
                                                        <option value="H">Homme</option>
                                                        <option value="F">Femme</option>
                                                    </select>
                                        </div>
                            
                                        
                                        <div class="form-group">
                                            <label >Agent Nature</label><br>
                                                    <select formControlName="PERS_NATURAGENT_93" class="form-control custom-Select">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select>
                                        </div>
                                
                                     
                                     
                                </div>
                                
                                <div class="tab-pane" id="tab4">
                                    <h3>Agreement</h3>
                                   
                                        
                                        <div class="form-group col-sm-12">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                        
                                        <div class="form-group col-sm-12">
                                            <div class="checkbox checkbox-success">
                                                <input id="checkbox3" class="styled" type="checkbox">
                                                <label for="checkbox3">I read agreement and i have not any objection</label>
                                            </div>
                                            
                                        </div>
                                <button href="#" type="submit" class="btn btn-primary btn-block">Create account</button>
                                        
                                    
                                </div>
                                
                               
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
            
        
    </div>  <!--END: Content Wrap-->
    
</div>  <!-- END: Main Container -->

   
  
                
             
               

    
    <script type="text/javascript" src="/../assets/assets/plugins/animate-it/animate-it.js"></script>
    <script type="text/javascript" src="/../assets/assets/plugins/animate-it/arrow-line.js"></script> 
